.container {
  background-color: var(--env-block-background-color);
  border: 1px solid var(--env-block-border-color);
}

.text {
  font-family: var(--env-font-family);
  color: var(--env-block-font-color);
}

.editorText {
  padding: 2rem;
  font-size: 24px;
}

.feedbackHeader {
  background-color: #80c5ff;
  margin-bottom: 0;
  color: white;
  padding: 2rem;
  font-size: 24px;
}
