.container {
  background-color: #004a90;
  padding: 2rem;
  border-bottom: 2px dashed var(--env-block-border-color);
}

.container:last-child {
  border: none;
}

.textColor {
  color: white;
}

.message {
  padding-bottom: 1rem;
  color: white !important;
}
